.TitleBar{
    
    height: 100vh;
    width: 98vw center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.header{

    justify-content: center;
    align-items: center;
    height: 100vh;
    color:rgb(255, 187, 0);
    font-variant: small-caps;
    display: flex;
}
h2{
    text-align: center;
    color: rgb(255, 187, 0);
    font-variant: small-caps;
    margin-top: auto;
    text-shadow: 4px 4px 10px #030303
}
h3{
    color:rgb(255, 187, 0);
    font-size: 4rem;
    text-align: center;
    margin-top:12%;
    text-shadow: 4px 4px 10px #030303;
}